body {
  text-align: center
}
#external_container {
  margin: 0 auto;
  width: 1040px;
  text-align: left;
}
tbody {
  border: none;
}
#header{
  background: #FFFFFF;
}
h1.site-name {
  padding-left: 10px;
  margin-top: 4px;
  float: left;
}
.site-name a {
  color: #111111;
  font: 43px Arial;
  font-weight: bold;
}
.site-name a:link {
  color: #111111;
  font: 40px Arial;
  font-weight: 900;
}
.site-name a:visited {
  color: #111111;
}
#main .title{
  padding-top: 5px;
}
.block {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#block-menu-menu-main-menu {
  border: none;
  float: right;
}
#block-menu-menu-main-menu ul{
  background: #4573A8;
  padding: 7px;
  margin: 10px 0;
}
#block-menu-menu-main-menu .title {
  display: none;
}
#block-menu-menu-main-menu ul.menu li {
  display: inline;
  padding: 0 15px;
  margin: 0;
  border-right: 1px solid #FFFFFF;
}
#block-menu-menu-main-menu ul.menu li.last {
  border: none;
}
#block-menu-menu-main-menu ul.menu li a {
  color: #FFFFFF;
  font: 14px Arial;
  font-weight: 500;
}
#block-menu-menu-main-menu ul.menu li a:hover {
  text-decoration: underline;
}
#block-menu-menu-side-menu {
  border: 1px solid #BBBBBB;
  background: #F0F0F0;
  padding: 5px;
}
#block-menu-menu-side-menu2 {
  border: 1px solid #BBBBBB;
  background: #F0F0F0;
  padding: 5px;
}
#sidebar-left {
  background: #FFFFFF;
}
#sidebar-left li{
  border-bottom: none;
}
#sidebar-right {
  background: #FFFFFF;
}
#sidebar-right li{
  border-bottom: none;
}
#block-views-animation-block_1 {
  clear: both;
  padding: 10px;
}
.view-map {
  border: 1px solid #BBBBBB;
  height: 134px;
  width: 200px;
  text-align: center;
}
.view-map ul {
  margin: 10px;
}
.view-map .view-header {
  border-bottom: 1px solid #BBBBBB;
  background: #4573A8;
  display: block;
  padding: 1px;
}
.view-map .view-header a {
  color: #FFFFFF;
  font: 14px Arial;
  font-weight: 500;
  padding: 3px;
}
.view-neighbourhood-facts {
  border: 1px solid #BBBBBB;
  height: 134px;
  width: 200px;
  text-align: center;
}
.view-neighbourhood-facts ul {
  margin: 10px;
}
.view-neighbourhood-facts .view-header {
  border-bottom: 1px solid #BBBBBB;
  background: #CC8A4E;
  display: block;
  padding: 1px;
}
.view-neighbourhood-facts .view-header a {
  color: #FFFFFF;
  font: 14px Arial;
  font-weight: 500;
  padding: 3px;
}

.view-links {
  border: 1px solid #BBBBBB;
  height: 134px;
  width: 200px;
}
.view-links ul {
  margin: 10px;
}
.view-links .view-header{
  border-bottom: 1px solid #BBBBBB;
  background: #CC8A4E;
  display: block;
  padding: 1px;
  text-align: center;
}
.view-links .view-header a{
  color: #FFFFFF;
  font: 14px Arial;
  font-weight: 500;
  padding: 3px;
}
.view-blog {
  border: 1px solid #BBBBBB;
  height: 134px;
  width: 200px;
  text-align: left;
}
.view-blog ul {
  margin: 10px;
}
.view-blog .view-header {
  border-bottom: 1px solid #BBBBBB;
  background: #4573A8;
  display: block;
  padding: 1px;
  text-align: center;
}
.view-blog .view-header a{
  color: #FFFFFF;
  font: 14px Arial;
  font-weight: 500;
  padding: 3px;
}
.field-item {
  float: left;
}
#search label {
  display: none;
}
.title {
  font: 16px Arial;
  font-weight: bold;
  color: #00508D;
}
#content {
  clear: both;
}
.content img.left-floated {
  float: left;
}
.content a:hover img.left-floated {
  border: 1px solid red;
}
.content p {
  font: 14px Arial;
  line-height: 17px;
  color: #58585A;
}
.breadcrumb {
  display: none;
}
#block-views-animation-block_1 .jcarousel-container-horizontal {
  width: 950px;
  background: #FFFFFF;
  border: none;
}
#block-views-animation-block_1 .jcarousel-clip-horizontal {
  width: 950px;
  height: auto;
}
#block-views-animation-block_1 .jcarousel-item {
  width: auto;
  height: auto;
  padding: 0;
  margin: 1px;
}
